
doctype html
head
	meta(charset='utf-8')
	title GeOpinion
	meta(name='description', content='')
	meta(name='author', content='Sabarish Sainathan, Marti Vives, Harshvardhan Babla')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='style.css')
	script(type='text/javascript', src='SendQuery.js')
	header.SearchSection
		h1.CompanyName GeOpinion
		form.SearchForm(onsubmit='SubmitSearchForm(); return false')
			p
				input#topic.text(type='text', placeholder='Topic', required='')
			p
				.LocationInputs
					.selectfield
						select#location.browser-default(placeholder='Location', required='')
							option(value='', disabled='', selected='') Location
							option(value='0') New York City
							option(value='1') Los Angeles
							option(value='2') Chicago
							option(value='3') Houston
							option(value='4') Philadelphia
							option(value='5') Phoenix
							option(value='6') San Antonio
							option(value='7') San Diego
							option(value='8') Dallas
							option(value='9') San Jose
					input#radius.text(type='number', placeholder='Radius', required='')
			p.btn
				input#SubmitButton.submit(type='submit', value='GO')
	section#TwitterResults
		h1#TwitterSentimentsTitle Sentiment&nbsp;&nbsp;&nbsp;&nbsp;Analysis&nbsp;&nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;&nbsp;Tweets&nbsp;&nbsp;&nbsp;&nbsp;from&nbsp;&nbsp;&nbsp;&nbsp;
		#PieChartContainer
			script(type='text/javascript', src='https://static.anychart.com/js/8.0.1/anychart-core.min.js')
			script(type='text/javascript', src='https://static.anychart.com/js/8.0.1/anychart-pie.min.js')
			script(type='text/javascript', src='PieChart.js')
	section#Trends
		h2#TrendsTitle Sentiments&nbsp;&nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;&nbsp;Trends&nbsp;&nbsp;&nbsp;&nbsp;in&nbsp;&nbsp;&nbsp;&nbsp;
		#BarChartWrapper
			#BarChartContainer
				script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
				script(type='text/javascript', src='BarChart.js')
	section#VarianceByLocation
		h2#VarianceTitle Variation&nbsp;&nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;&nbsp;Sentiments&nbsp;&nbsp;&nbsp;&nbsp;about&nbsp;&nbsp;&nbsp;&nbsp;Topics&nbsp;&nbsp;&nbsp;&nbsp;across&nbsp;&nbsp;&nbsp;&nbsp;Cities&nbsp;&nbsp;&nbsp;&nbsp;
		#VarBarChartWrapper
			#VarBarChartContainer
				script(type='text/javascript', src='VarBarChart.js')
			.selectfield#VarSelect
						select#location.browser-default(placeholder='Location', required='')
							option(value='', disabled='', selected='') Location
							option(value='0') New York City
							option(value='1') Los Angeles
							option(value='2') Chicago
							option(value='3') Houston
							option(value='4') Philadelphia
							option(value='5') Phoenix
							option(value='6') San Antonio
							option(value='7') San Diego
							option(value='8') Dallas
							option(value='9') San Jose